<body>
    <div class="box">
      <aside>
        <div class="above">
          <a class="logo" href="{{url_for('admin')}} "><i class="fas fa-shopping-basket"></i>SGMart Admin</a>
          <div class="ham" id="no-btn">
            <span class="material-icons-sharp">close</span>
          </div>
        </div>
    
        <div class="sidenav">
          <a href="{{url_for('admin')}} ">
            <span class="material-icons-sharp">grid_view</span>
            <h3>Dashboard</h3>
          </a>
          <a href="{{url_for('all_orders')}}" class="active">
            <span class="material-icons-sharp">receipt_long</span>        
            <h3>Orders</h3>
          </a>
          <a href="{{url_for('staff_logs')}}">
            <span class="material-icons-sharp">supervisor_account</span>
            <h3>Logs</h3>
          </a>
          <a href="{{url_for('main2')}}">
            <span class="material-icons-sharp">inventory</span>
            <h3>Products</h3>
          </a>
          <a href="{{url_for('brands')}}">
            <span class="material-icons-sharp">style</span>
            <h3>Brands</h3>
          </a>
          <a href="{{url_for('categories')}}">
            <span class="material-icons-sharp">category</span>
            <h3>Categories</h3>
          </a>
          <a href="{{url_for('addproduct')}}">
            <span class="material-icons-sharp">add</span>
            <h3>Add Product</h3>
          </a>
          <a href="{{url_for('addbrand')}}">
            <span class="material-icons-sharp">add</span>
            <h3>Add Brand</h3>
          </a>
          <a href="{{url_for('addcat')}}">
            <span class="material-icons-sharp">add</span>
            <h3>Add Category</h3>
          </a>
          <a href="{{url_for('logout')}}">
            <span class="material-icons-sharp">logout</span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>
    </div>
</body>  