{% extends 'layout.html' %}
{% block content %}
{% include 'includes/_navbar.html' %}

<div class="container mt-4">
    {% include 'includes/_messages.html' %}
    <div class="row">
        <div class="col-md-12">
            Invoice: {{orders.invoice}}
            <br>
            Status: {{orders.status}}
            <br>
            Customer name: {{customer.name}}
            <br>
            Customer email: {{customer.email}}
            <br>           
            <br>
        <table class="table table-sm">
            <thead>
                <th>Sr</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>Subtotal</th>
            </thead>
            <tbody>
                {% for key, product in orders.orders.items() %}
                {% set discount =(product.discount/100) * product.price|float %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{product.name}}</td>
                    <form action="{{url_for('updatecart', code=key)}}" method="post">
                    <td>${{"%.2f"|format(product.price)}}</td>
                    <td>{{product.quantity}} </td>
                    {% if product.discount  %}
                    <td>{{product.discount}} %</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% set subtotal = product.quantity|int * product.price|float  %}
                    <td>${{"%.2f"|format(subtotal - discount|round(1,'floor')) }}</td>
                </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table table-sm">
           <tr>
            <td>   
                {% if orders.status =='Paid' %}
                {% else %}
             <form action="{{url_for('payment')}}" method="POST">
             {% set amount =  grandTotal.replace('.','') %}
             <input type="hidden" name="amount" value="{{amount}}">
             <input type="hidden" name="invoice" value="{{orders.invoice}}">
             <script src="https://checkout.stripe.com/checkout.js"
               class="stripe-button"
               data-key="pk_test_51KKojDK7ip8kgLQbuRm5DRr5GghiNuicnq8Dgs1UzHDhkDrWp4MlGPmPRU8zSgGj3VdPhkNLzQi6zQvEnwriVP3e00pdHwABJh"
               data-name="{{customer.name}}"
               data-description="myshop purchase"
               data-amount="{{amount}}"
               data-currency="sgd">
             </script>
           </form> 
           {% endif %}
            </td>
            <td width="40%"></td>
               <td><h5>GST: ${{gst}}</h5></td>
               <td width="4%"></td>
               <td><h5>Grand total: ${{grandTotal}}</h5> </td>
            </tr>
        </table>
    </div>
  </div>
</div>
{% endblock content %}