<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

    




    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Shop</title>
    {% endif %}




</head>
<body>
  
  {% block content %}

  {% endblock content %}


  <script src="{{ url_for('static', filename='js/admin.js')}}" ></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}" ></script>
  


</body>
</html>
